#message {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 200px;
}


a {
    color: rgb(180, 100, 50);
}

body {
    background-color: rgb(210, 210, 210);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

p {
    font-family: sans-serif;
}

.maintab {
    width: 58vw;
    max-height: 170px;
    height: 20vh;
    float: left;
    -ms-transform: skewX(20deg); 
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg);
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s; 
    transition: 0.4s;
    overflow: hidden;    
}

.maintab:hover {
    width: 62vw;
    cursor: pointer;
}

.bgpic {
    position: relative;
    z-index: -1;    
    height: 100%;
}

#bg1 {
    background: url(Images/Banners/ArtBanner.png);
    width: 3600px;
}

#bg2 {
    background: url(Images/Banners/CodeBanner.png);
    width: 4725px;
}

#bg3 {
    background: url(Images/Banners/HireBanner.png);
    width: 2490px;
}

#bg4 {
    background: url(Images/Banners/InfoBanner.png);
    width: 2949px;
}

#tab1 {
    margin-left: -9.75vw;
}

#texttab1 {
    background-color: rgba(250, 255, 90, 0.8);
    color: rgb(50, 50, 50);
}

#texttab1:hover {
    background-color: rgba(90, 95, 190, 0.4);
    color: rgb(230, 240, 250);
}

#tab2 {
    margin-left: -6.5vw;
}

#texttab2 {
    background-color: rgba(200, 100, 250, 0.8);
    color: rgb(50, 50, 50);
}


#texttab2:hover {
    background-color: rgba(80, 155, 90, 0.4);
    color: rgb(230, 240, 250);
}

#tab3 {
    margin-left: -3.25vw;
}

#texttab3 {
    background-color: rgba(90, 195, 90, 0.8);
    color: rgb(50, 50, 50);
}

#texttab3:hover {
    background-color: rgba(190, 95, 190, 0.4);
    color: rgb(230, 240, 250);
}

#texttab4 {
    background-color: rgba(190, 95, 90, 0.8);
    color: rgb(50, 50, 50);
}

#texttab4:hover {
    background-color: rgba(90, 195, 190, 0.4);
    color: rgb(230, 240, 250);
}

.maintext {
    -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    -ms-transition: 0.2s; 
    -webkit-transition: 0.2s; 
    transform: skewX(-20deg);
    float: left;
    margin: 0px;
    padding-left: 15vw;
    font-size: 15vmin;    
    font-weight: bolder;
    width: 100%;
    height: 100%;
}

.artbg {
    position: relative;
    top: 0px;
    z-index: -1;    
    height: 100%;
    width: 100%;
    -ms-transform: skewY(-20deg); 
    -webkit-transform: skewY(-20deg); 
    transform: skewY(-20deg);
}

#artbg1 {
    background: url(Images/Banners/PixelBanner.png);
    height: 3600px;
}

#artbg2 {
    background: url(Images/Banners/DigitalBanner.png);
    height: 3600px;
}

#artbg3 {
    background: url(Images/Banners/3DBanner.png);
    height: 3600px;
}

.arttab {
    width: 11.4vw;
    height: 78vh;
    float: left;
    -ms-transform: skewY(20deg); 
    -webkit-transform: skewY(20deg); 
    transform: skewY(20deg);
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s; 
    transition: 0.4s;
    overflow: hidden;
}

.arttab:hover {
    height: 86vh;
    cursor: pointer;
}

.arttab.selected {
    height: 84vh;    
}

#tabart1 {
    margin-top: -8.5vh;
}

#arttext1 {
    background-color: rgba(250, 255, 90, 0.8);
    color: rgb(50, 50, 50);    
}

#arttext1:hover, #arttext1.selected {
    background-color: rgba(90, 95, 190, 0.6);
    color: rgb(230, 240, 250);
}

#arttext2 {
    background-color: rgba(200, 100, 250, 0.8);
    color: rgb(50, 50, 50);
    margin-top: -8.5vh
}

#arttext2:hover, #arttext2.selected {
    background-color: rgba(80, 155, 90, 0.6);
    color: rgb(230, 240, 250);
}

#tabart3 {
    margin-top: 8.5vh;
}

#arttext3 {
    background-color: rgba(90, 195, 90, 0.8);
    color: rgb(50, 50, 50);
    margin-top: -17vh
}

#arttext3:hover, #arttext3.selected {
    background-color: rgba(190, 95, 190, 0.6);
    color: rgb(230, 240, 250);
}

.arttext {
    padding-top: 21vh;
    margin: 0px;
    font-size: 8vmin;
    font-weight: bolder;
    -ms-transform: skewY(-20deg); 
    -webkit-transform: skewY(-20deg); 
    transform: skewY(-20deg);
    -ms-transition: 0.2s; 
    -webkit-transition: 0.2s;
    transition: 0.2s;
    writing-mode: tb-rl;
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 120%;
}

.catimg {    
    margin-left: -20px;
    float: left;
    width: 26.97vmin;
}

#categories {
    margin-left: -11vw;
    -ms-transform: skewX(70deg); 
    -webkit-transform: skewX(70deg); 
    transform: skewX(70deg);
    width: 89.2%;
    float: left;
    background-color: rgb(180, 180, 180);
    overflow: hidden;
}

#catchar {
    margin-left: 12vw;
}

.catbutt {
    -ms-transform: skewX(-70deg); 
    -webkit-transform: skewX(-70deg); 
    transform: skewX(-70deg);
    background-color: rgb(180, 180, 180);
    border: none;
    float: left;
    width: 19%;
    max-height: 90px;
    height: 10vh;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;    
    font-size: 2.3vw;
    font-weight: bolder;
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: rgb(50, 50, 50);
}

.catbutt:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgb(0, 255, 255) inset;
}

.catbutt:hover {
    background-color: rgb(140, 140, 140);
    color: rgb(230, 240, 250);
    cursor: pointer;
}

.codetab {
    width: 29vw;
    height: 20vh;
    float: right;	
    -ms-transform: skewX(-10deg); 
    -webkit-transform: skewX(-10deg); 
    transform: skewX(-10deg);
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s; 
    transition: 0.4s;
    overflow: hidden;    
    display: flex;
    align-items: center;
}

#codetab1 {    
    background-color: rgba(200, 100, 250, 0.8);
    color: rgb(50, 50, 50);
    margin-left: 6.0vw;
}

#codetab1:hover, #codetab1.selected {
    background-color: rgba(80, 155, 90, 0.6);
    color: rgb(230, 240, 250);
    margin-left: 2.1vw;
    cursor: pointer;
}

#codetab2 {
    background-color: rgba(250, 255, 90, 0.8);
    color: rgb(50, 50, 50);
    margin-left: 4.0vw;
}

#codetab2:hover, #codetab2.selected {    
    background-color: rgba(90, 95, 190, 0.6);
    color: rgb(230, 240, 250);
    margin-left: 0.4vw;
    cursor: pointer;
}

#codetab3 {
    background-color: rgba(90, 195, 90, 0.8);
    color: rgb(50, 50, 50);
    margin-left: 2.0vw;
}

#codetab3:hover, #codetab3.selected {
    background-color: rgba(190, 95, 190, 0.6);
    color: rgb(230, 240, 250);
    margin-left: -1.3vw;
    cursor: pointer;
}

#codetab4 {
    background-color: rgba(90, 90, 195, 0.8);
    color: rgb(50, 50, 50);
	margin-left: 0vw;
}

#codetab4:hover, #codetab4.selected {
    background-color: rgba(190, 195, 90, 0.6);
    color: rgb(230, 240, 250);
    margin-left: -3vw;
    cursor: pointer;
}

.engimg {
    margin: auto;
    margin-right: 60%;
    height: 8vmax;
    -ms-transform: skewX(10deg); 
    -webkit-transform: skewX(10deg); 
    transform: skewX(10deg);
}

#tabcont, #tabcontart, #codetabcont {
    display: flex;
    position: absolute;
}

#tabcontart {
    flex-direction: row;
    position: absolute;
    width: 35%;
    top: -15vh;
    right: 20px;
}

#fullimgcont {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 60%;
    height: 60%;
    overflow: visible;
    display: flex;
    align-items: center;
}

#codetabcont {
    flex-direction: column;
    bottom: 5%;
    right: 0;
    padding-right: 14vw;
    padding-left: 5vw;
    overflow: hidden;
    width: 5vw;
}

#tabcont {
    flex-direction: column;
    bottom: 22px;
    left: -40px;
}

#fullimg {
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;    
    image-rendering: pixelated;
    -ms-transition: 0.1s; 
    -webkit-transition: 0.1s; 
    transition: 0.1s;
}

#galwrap {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 90%;
}

#gallery {
    max-height: 227px;
    height: 25vh;
    white-space: nowrap;
    width: 84%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s; 
    transition: 0.4s;
}

#gallery::-webkit-scrollbar {
    height: 24px;
}

#gallery::-webkit-scrollbar-track, #tos::-webkit-scrollbar-track{
    background: transparent;
}

#gallery::-webkit-scrollbar-thumb, #tos::-webkit-scrollbar-thumb{
    background: rgb(180, 180, 180);
    border-radius: 10px;
}

#gallery::-webkit-scrollbar-thumb:hover, #tos::-webkit-scrollbar-thumb:hover{
    background: rgb(140, 140, 140);
}

#codegal {
    max-height: 227px;
    height: 25vh;
    white-space: nowrap;
    width: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s; 
    transition: 0.4s;
    float: left;
    margin-top: 2%;
    padding-left: 1%;
    margin-left: 10%;
}

#codegal::-webkit-scrollbar{
    height: 24px;
}

#codegal::-webkit-scrollbar-track{
    background: transparent;
}

#codegal::-webkit-scrollbar-thumb{
    background: rgb(220, 220, 220);
    border-radius: 10px;
}

#codegal::-webkit-scrollbar-thumb:hover{
    background: rgb(140, 140, 140);
}

#codego {
    width: 100%;
    padding: 4%;
    font-size: 30px;
    background: rgba(120, 120, 120, 0.5);
    -ms-transition: 0.2s; 
    -webkit-transition: 0.2s; 
    transition: 0.2s;
    position: absolute;
    bottom: 1vmax;
    text-align: center;
    color: rgba(20, 20, 20, 0.8);
    font-size: 2vmax;
}

#codego:hover {
    cursor: pointer;
    background: rgb(110, 110, 110);
    color: black;
}

#codego.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

#gametitle {
    float: left;
    padding-bottom: 5%;
    padding-right: 4%;
    padding-lefT: 4%;
    width: 26.667vw;
    margin: auto;
}

.imgwrap {
    display: inline-block;
    width: 20vmin;
    overflow: hidden;
    height: 20vmin;
    border-right: 7px;
    border-right-style: solid;
    border-color: rgb(180, 180, 180);
    -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg); 
}

.preview {
    background-position: center;
    background-repeat: no-repeat;
    width: 150%;
    height: 100%;
    margin: auto;
    margin-left: -50px;
    margin-top: -20px;
    -ms-transform: skewX(20deg); 
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg);
    -ms-transition: 0.1s; 
    -webkit-transition: 0.1s;
    transition: 0.1s;
    opacity: 0.3;
}

.preview.selected {
    opacity: 1.0;
}

.preview:hover {
    opacity: 1;
    cursor: pointer;
}

.gamewrap {
    display: inline-block;
    width: 15vmin;
    overflow: hidden;
    height: 20vmin;
    border: none;    
}

.gameprev {
    background-position: center;
    background-repeat: no-repeat;
    width: 150%;
    height: 100%;
    margin: auto;
    margin-left: -50px;
    -ms-transform: skewX(10deg); 
    -webkit-transform: skewX(10deg); 
    transform: skewX(10deg);
    opacity: 0.3;
}

.gameprev.selected {
    opacity: 1.0 !important;
}

.gameprev:hover {
    opacity: 1.0 !important;
    cursor: pointer;
}

#logoart {
    width: 9%;
    position: absolute;
    left: 0.5%;
    top: 0.5%;
    image-rendering: pixelated;
    z-index: 1;
    opacity: 0.3;
    -ms-transition: 0.4s; 
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#logoart:hover {
    opacity: 1.0;    
}

#logo {
    width: 15%;
    position: absolute;
    right: 30px;
    image-rendering: pixelated;
}

#gamegal {
    position: absolute;
    left: 0px;
    background-color: rgb(170, 170, 170);
    width: 83%;
    margin-left: -6.5%;
    height: 80%;
    bottom: 5%;
    overflow: hidden;
}

#codeprev {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    -ms-transition: 0.1s; 
    -webkit-transition: 0.1s; 
    transition: 0.1s;
    width: 50%;
    height: 50%;
    padding: 2.5%;
    margin-top: 3%;
    margin-left: 5%;
}

#codedesc {
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    font-family: sans-serif;
    font-size: 1vmax;
    line-height: 1.5;
    font-weight: bold;
    width: 35%;
    height: 97%;
    color: rgba(20, 20, 20, 0.9);
    position: relative;
    -ms-transform: skewX(10deg); 
    -webkit-transform: skewX(10deg); 
    transform: skewX(10deg);
}

#slideshow {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    -ms-transition: 1.5s; 
    -webkit-transition: 1.5s;
    transition: 1.5s;
    margin: auto;
}

#slideshowcont {
    position: absolute;
    height: 75vh;
    width: 40vw;
    right: 2%;
    bottom: 2%;
    overflow: visible;
    margin: auto;
    display: flex;
    align-items: center;
}

#info {   
    margin-top: 15vh;    
}

#infowrap, #linkswrap {
    padding: 1vmax;
    padding-left: 9vw;    
    font-family: sans-serif;
    font-size: 1vmax;
    line-height: 1.5;
    font-weight: bold;
    float: left;
    clear: left;   
}

#infowrap {
    position: absolute;
    background-color: rgb(180, 255, 180);
    -ms-transform: skewX(20deg); 
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg);
    width: 40%;
    padding-right: 8vw;
    padding-left: 20vw;  
    margin-left: -15vw;
}

#infoskew {
    -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);
}

#linkswrap {
    position: absolute;
    -ms-transform: skewX(-50deg); 
    -webkit-transform: skewX(50deg); 
    transform: skewX(-50deg);
    background-color: rgb(255, 255, 180);
    width: 50%;
    bottom: 5%;
    text-align: center;
    margin-left: -22vw;
    
}

#linkskew {
    -ms-transform: skewX(50deg); 
    -webkit-transform: skewX(50deg); 
    transform: skewX(50deg);
}

#me {
    float: right;
    margin-left: 2%;
    padding-top: 10vh;
    width: 30vmax;
}

#about {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#shape1 {
    background: rgb(255, 100, 100);
    width: 230vw;
    height: 110vh;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(-40deg);
    overflow: hidden;
}

#shape2 {
    background: rgb(180, 180, 255);
    width: 230vw;
    height: 110vh;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(70deg);
    overflow: hidden;
}

.abut {
    background: transparent;
    font-size: 1.5em;
    border: none;
    font-weight: bolder;
    opacity: 0.5;
    -ms-transition: 0.1s; 
    -webkit-transition: 0.1s; 
    transition: 0.1s;
}

.abut:hover {
    opacity: 1.0;
    font-size: 1.55em;
    cursor: pointer;
}

#abut1 {
    color: rgb(200, 40, 40);
}

#abut2 {
    color: rgb(40, 200, 40);
}

#abut3 {
    color: rgb(40, 40, 200);
}

#abut4 {
    color: rgb(200, 40, 200);
}

#abut5 {
    color: rgb(40, 200, 200);
}

#links, #sources {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);
}

#sources {
    text-align: right;
    font-size: 1.5em;
    border-right: solid;
    border-width: 0px 2px 0px 0px;
    border-color: rgb(80, 80, 80);
}

#links {
    line-height: 2;
    vertical-align: middle;
}

#tos {
    position: absolute;
    bottom: 3.5%;
    height: 45vh;
    width: 95%;
    margin-left: 5vw;
    padding-top: 5%;
    font-size: 0.8vmax;
    line-height: 1.2;
    overflow-y: scroll;
    clear: both;
    
}

#tos::-webkit-scrollbar{
    width: 24px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    width: 50%;
     -ms-transform: skewX(-10deg); 
    -webkit-transform: skewX(-10deg); 
    transform: skewX(-10deg);
    margin: 3%;
}

#prices {
    padding-left: 5vw;
     -ms-transform: skewX(10deg); 
    -webkit-transform: skewX(10deg); 
    transform: skewX(10deg);
    position: absolute;
    right: -3vw;
    width: 38vw;
    font-size: 1vmax;
    height: 42vh;
    float: right;
    margin-top: 2vw;
    background-color: antiquewhite;
}

#sizes, #sizeprice, #pricesdesc {
    font-family: sans-serif;
    font-size: 1em;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 1.5;
    -ms-transform: skewX(-10deg); 
    -webkit-transform: skewX(-10deg); 
    transform: skewX(-10deg);
}

#sizes {
    text-align: right;
    border-right: solid;
    border-width: 0px 2px 0px 0px;
    border-color: rgb(80, 80, 80);
}

#sizeprice {
    vertical-align: middle; 
    font-weight: bolder;
}

#pricesdesc {
    margin-top: 2%;
    width: 77%;
    line-height: 1.5;
}

#contactinfo {
    position: absolute;
    width: 65vw;
    -ms-transform: skewX(20deg); 
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg);
    padding: 1%;
    padding-left: 150px;
    margin-left: -100px;
    margin-top: 11vh;
    font-family: sans-serif;
    font-size: 1vmax;
    line-height: 1.5;
    font-weight: bold;
    background-color: rgb(255, 180, 180);
    float: left;   
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: 0;
}

#footer {
    position: fixed;
    bottom: 1%;
    margin: auto;
    font-family: sans-serif;
    color: rgba(60, 60, 60, 0.7);
    font-weight: bolder;
    right: 1%;
    text-align: center;
}

#met {
    width: 0%;
    height: 0%;
    visibility: hidden;
}