a {
    color: rgb(180, 100, 50);
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#para {
    text-align: right; 
    font-family: sans-serif;
    float: left;
}

#cons {
    float:right;
    image-rendering: pixelated;
}